---
import SocialLinks from './SocialLinks.astro';
import { SITE_TITLE } from '../consts';

const today = new Date();
---

<footer class="footer footer-center p-10 bg-base-200">
	<div class="mx-auto max-w-6xl text-center">
		<div>&copy; {SITE_TITLE}. All rights reserved.</div>
		<div>
			<SocialLinks/>
		</div>
	</div>
</footer>
