---
import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
import { SITE_TITLE } from '../consts';
---

<header class="shadow bg-base-100">
	<nav class="navbar mx-auto max-w-6xl">
		<div class="navbar-start">
			<h2 class="text-xl font-bold"><a href="/">{SITE_TITLE}</a></h2>
		</div>
		<div class="navbar-center">
			<ul class="menu menu-horizontal text-lg px-1">
				<HeaderLink href="/">Home</HeaderLink>
				<HeaderLink href="/blog">Blog</HeaderLink>
				<HeaderLink href="/contact">Contact</HeaderLink>
			</ul>
		</div>
		<div class="navbar-end">
			<SocialLinks/>
		</div>
	</nav>
</header>
