---
import Layout from '../layouts/Layout.astro';

import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---


<Layout>
	<article class="mb-12">
		{heroImage && <div class="hero-image"></div><img width={1020} height={510} src={heroImage} alt="" /></div>}
		<div class="prose lg:prose-xl">
			<div class="title">
				<div class="date">
					<FormattedDate date={pubDate} />
					{
						updatedDate && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
				</div>
				<h1 class="heading">{title}</h1>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</Layout>

<style>
	.heading {
		margin-top: 1rem;
	}
</style>
